<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>This is not something we cannot do alone</h2>
			<p>The challenge of building a new infrastructure on which personal data is managed in a decent way is far too big to be a <a href="about.html">one team project</a>. We need the creativity, cultures and skills of many if we want to achieve this vision of the future.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="about.html#contact" class="button fit special">Get in Touch</a></li>
			<!-- <li><a href="#" class="button fit">Partnership</a></li> -->
		</ul>
	</div>
</section>
