<!-- One -->
<section id="one" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>It is worth thinking of data beyond just a by-product of our online activity</h2>
			<p>Data will provide a large portion of the raw material the economy of the 21st century will consume. Yet, no appropriate digital infrastructure that respects the new fundamental rights of privacy, social inclusion and economic participation currently exists.</p>
			<p>Arcadia is built on the principles of rightfully recognising the ownership of data and establishing a value for it. This new digital economy is an economy of choice. It is based on the recognition that every individual has a unique relationship to his or her data, with privacy and anonymity carrying different levels of importance for different users.</p>
			<p>Economic activity derived from personal data is a feature, not a requirement; it should be incentivised, not mandatory; it must be open to a variety of behaviours, not restrictive to what only generates profit. With such an infrastructure in place, an inclusive market could develop, a market that would fairly reward all participants for their contribution in the creation of value derived from their data.</p>
			<ul class="actions">
				<li><a href="brief.html" class="button special">Read More</a></li>
			</ul>
		</header>
		<!-- <ul class="icons major">
			<li><span class="icon fa-umbrella major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-balance-scale major style3"><span class="label">Dolor</span></span>
			</li>
		</ul> -->
	</div>
</section>
