<!-- Three -->
<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Arcadia's building blocks</h2>
			<p>Arcadia's framework is built on the blockchain.<br /> Arcadia doesn't belong to anybody.<br /> No central authority can decide how it should be managed.</p>
		</header>
		<ul class="features">
			<li class="icon fa-database">
				<h3>Data Wharehouse</h3>
				<p>Covers the data management of Arcadia, from the moment users upload data to the moment users grant other users or developers access to it. It is a private space for the user to store and access his data.</p>
			</li>
			<li class="icon fa-user">
				<h3>Digital Profile</h3>
				<p>Describes how to build a digital profile for the user based on the raw data he uploaded to the Data Warehouse. It is also the place where the user gets information about her data in terms of its potential</p>
			</li>
			<li class="icon fa-pagelines">
				<h3>Knowledge Machine</h3>
				<p>Establishes a way for users and developers to collaborate together so that raw data from the users are converted into knowledge usable by other users and institutions.</p>
			</li>
			<li class="icon fa-globe">
				<h3>Underlying Economics</h3>
				<p>Defines how to make Arcadia financially self-sustainable. No profits are generated based on the use of data and everything else –apart from operational expenses– is redistributed to users, developers and institutions that maintain, use and improve Arcadia.</p>
			</li>
			<li class="icon fa-adjust">
				<h3>Token Design</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-users">
				<h3>Governance</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
		</ul>
		<ul class="actions">
			<li><a href="https://github.com/in-dato-veritas/arcadia/tree/master/modules" class="button icon fa-github">Read More</a></li>
		</ul>
	</div>
</section>
